* {
  /* outline: solid red; */
}

body {
  font-family: sans-serif;
  margin: 50px;
}

div {}

.container {
  max-width: 900px;
  margin: auto;
}

header {}

h1 {
  text-align: left;
  font-size: 50px;
  margin: 0;
}

h2 {
  color: gray;
  text-align: left;
  margin: 0;
}

h3 {
  text-align: center;
  font-size: 30px;
  margin-top: 100px;
}

h4 {
  text-align: center;
}

main {
  /* max-width: 900px; */
  /* margin: auto; */
}

.albumImageGrid {
  /* outline: solid blue; */
  /* max-width: 900px; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.websiteImageGrid {
  /* outline: solid blue; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img {
  margin: 10px;
  height: 200px;
  width: 200px;
}

.projects {
  margin: 10px;
  height: 420px;
  width: 420px;
}

footer {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 420px; */
}

@media screen and (max-width: 1000px) {
  header {
    margin: auto;
    max-width: 420px;
  }

  img {
    margin: 10px;
    height: 420px;
    width: 420px
  }

  footer {
    margin: auto;
    max-width: 420px;
  }
}